.landing-wrapper {
  width: 100%;
  height: auto;

  a {
    text-decoration: underline;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .landingPhone {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .landing {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .landing-desc{
    margin: 0;
    padding:0;
    background-color: var(--color-announ-bright);
    padding: 1rem;


    p {
      text-align: center;
      color: #000;
      letter-spacing: 0.2rem;
      font-size: 1.4rem;
  
      span {
        font-weight: 200;
        font-size: 1rem;
  
        letter-spacing: normal;
      }
    }
  }

  .modal {
    padding: 3rem 2rem 10rem 2rem;
    border-radius: 0.5rem;
    width: 50%;
    height: 9rem;
    background-color: #fff;
    top: 10rem;
    position: fixed;
    top: 40%;
    left: 25%;
    z-index: 50;

    box-shadow: 2rem 2rem 3rem rgba(0,0,0, 0.2);

    .modal-close {
      text-align: end;
      cursor: pointer;
      font-size: 1.7rem;
    }

    .modal-body {
      text-align: center;
       p {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        span {
          text-transform: capitalize;
          color: red;
          font-weight: bold;
        }
       }
    }
  }

  .close-bg {
    display: none;
  }

  .closeModal {
    display: none;
  }
}
