@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-announcement: #d8a48e;
  --black-color: #212112;
  --color-announ-bright: #f9efea;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

body.lock-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.items-bg {
  position: fixed;
  background-color: rgba(255,255,255, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  z-index: 40;
  display: block;

}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.6rem;
  color: var(--black-color);
}

.heading span {
  padding: 0.5rem 1.3rem;
  background-color: transparent;
  font-weight: 300;
  /* letter-spacing: ; */
  border-radius: 0.3rem;
  border: 1px solid var(--color-announcement);
}

.p-text {
  font-size: 1.4rem;
  color: var(--black-color);
}

.gap-both {
  padding: 0 4rem;
}

@media screen and (max-width: 767px) {
  .gap-both {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1400px) {
  .gap-both {
    padding: 0 9rem;
  }
}
